[plone]
buildout_config = deployment-zope.cfg
gateway = 0.0.0.0
deploy_user = zope
directory = /var/local/esd/esdrt.buildout

[staging]
hosts = 0.0.0.0
buildout_config = staging.cfg

[dog4]
hosts = 0.0.0.0

[dog5]
hosts = 0.0.0.0

[dog6]
hosts = 0.0.0.0

[dog7]
hosts = 0.0.0.0

[dog8]
hosts = 0.0.0.0

[dog9]
hosts = 0.0.0.0

[dog10]
hosts = 0.0.0.0

[dog11]
hosts = 0.0.0.0

[dog12]
hosts = 0.0.0.0

[dog13]
hosts = 0.0.0.0

[dogs]
hosts = 0.0.0.0
        0.0.0.0
        0.0.0.0

[all_except_dog4]
hosts =  0.0.0.0
         0.0.0.0
         0.0.0.0

[webserver]
buildout_config = deployment-webserver.cfg
gateway = 0.0.0.0
hosts = 0.0.0.0
deploy_user = zope
directory = /var/local/esd/esdrt.buildout

[zeo]
buildout_config = deployment-zeo.cfg
gateway = 0.0.0.0
hosts = 0.0.0.0
deploy_user = zope
env.directory = /var/local/esd/esdrt.buildout

